*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav_container{
  background-color: rgb(10, 3, 87);
  margin-bottom: 45px;

}
.nav_container ul .active{
  font-weight: bold;
  background-color: rgb(116, 111, 111);
  border-radius: 10px;
  padding: 5px;
}
.nav_container ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav_container ul li, .logout{
  border: 1.5px solid rgb(10, 3, 87);
  padding: 10px;
  margin: 5px 0;
  border-radius: 10%;
}
.logout{
  display: inline-block;
  padding: 0;
  border: none;
  font-size: 20px;
  background:none;
  color: white;
}
.nav_container ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.login_main{
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login_main h2{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 40px;
}
.login_main form{
  display: grid;
  gap:20px;
}
.login_main input{
  font-size: 20px;
  padding-left: 5px;
}
.login_main input, .login_btn{
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  height: 40px;
  font-size: 20px;
}
.login_container{
  border: 1px solid rgb(76, 7, 238);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgba(114, 75, 244, 0.4);
  background-color: rgb(215, 245, 223);
}
.login_container h2{
  color: rgb(10, 3, 87);
}
.login_container button[type=submit]{
  padding: 5px 10px;
  font-size: 20px;
}


.home_container{
  margin: 2px;
  
}
.home_container h1{
  text-align: center;
  padding-bottom: 10px;
  color: rgb(10, 3, 87);
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
  padding: 2px;
  gap: 1px;
}
.home_container .card{
  border: 1px solid rgb(76, 7, 238);
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgba(114, 75, 244, 0.4);
  display: grid;
  padding: 30px;
  height: 350px;
  justify-content: space-between;
  width: 300px;
  margin: 10px 0;
  flex:1;
  gap:7px;
  background-color: rgb(215, 245, 223);
}
.card_details button{
  font-size: 15px;
  padding: 5px;
  color: #262729;
  font-weight: bold;
  border-radius: 3%;
}
.home_container .card .card_details{
  flex: 1;
  display: grid;
  width: 300px;
  gap: 20px;
}


.dash_container{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.dash_container h1{
  text-align: center;
  margin-bottom: 20px;
}
.profile{
  border: 1px solid rgb(76, 7, 238);
  padding: 20px;
  text-align: center;
  width: 400px;
  box-shadow: 5px 10px 5px rgba(114, 75, 244, 0.4);
  background-color: rgb(215, 245, 223);
  border-radius: 10px;
  
}
.profile_details{
  text-align: left;
  display: grid;
  gap: 20px;
  
}
.profile img{
  margin: 10px;
  border-radius: 50%;
}
.profile input,.profile textarea, .profile button[type=submit]{
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
  display: inline-block;
}
.profile button[type=submit]{
  margin-top: 20px;
}
.op h1{
  margin: 20px;
}
.op_cards{
  display:flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.op_card{
  border:1px solid rgb(76, 7, 238);
}










